{{#each-in item as |key value|}}
  <div test-id="{{key}}Info">{{key}}: {{value}}</div>
{{/each-in}}
<div class="progress">
  <div style="width: {{width}}%" test-id="all" class="progress-bar">{{width}}</div>
</div>
{{#link-to "information.detail.configure" item.id test-id="configureLink"}}configure{{/link-to}}
